html,
body {
  height: 100%;
  width: 100%;
  margin: 0px auto;
  background-color: #fff;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
/*add loading*/
#slpashGrid {
position: absolute;
display: block;
width: 100%;
height: 100%;
background: url(../images/splash_grid.png);
z-index: 1;
}

.highlight {
  background-color: #ff8;
}
#contenido {
  width: 100%;
  height: 100%;
  margin-top: 55px;
}
.bullet-item,
color #333333,
font-size 0.870rem,
.centrartexto {
  text-align: center;
}
.negrita {
  font-weight: 900;
}
.cont_derecha {
  position: absolute;
  top: 55px;
  left: 0;
  width: 220px;
  height: 100%;
  border: 1px solid #000;
}
.cont_izquierda {
  position: absolute;
  top: 55px;
  right: 0;
  height: 100%;
  width: 250px;
}
.mesa_libre {
  background: #008000;
}
.mesa_ocupada {
  background: #f00;
}
.I,
.C,
.P,
.E,
.D {
  color: #222222;
  font-size: 14px;
  /*text-shadow: #000 0 1px 2px;*/
  /*text-shadow: 0 1px 2px rgba(0,0,0,.9);*/
  font-weight: 500;
  min-height: 30px;
  border-bottom: 0px solid #fff;
}
.I {
  /*background: #42bdc2;*/
  /*background: linear-gradient(to bottom, #87e0fd 0%,#53cbf1 40%,#05abe0 100%);*/
  background-color: #d9edf7;
}
.I:hover{
    background-color:#c4e3f3;
}
.C {
  background: #fff;
}
.P {
  background: #f2dede;
  /*background-image: linear-gradient(to bottom, #f9c667 0%,#f79621 100%);*/
  /*background: linear-gradient(to bottom, #ffc578 0%,#fb9d23 100%);*/

}
.P:hover{
    background-color: #ebcccc;
}
.E {
  background: #fcf8e3;
  /*background: linear-gradient(to bottom, #fdef75 0%,#dac106 100%);*/
}
.E:hover{
    background-color: #faf2cc;
}
.D {
  background: #dff0d8;
  /*background: linear-gradient(to bottom, #bbe464 0%,#95be3c 100%);*/
}
.D:hover{
    background-color: #d0e9c6;
}
.notas {
  /*font-weight: 900;*/
  color: #000;
  /*font-size: 2rem;*/
  cursor: pointer;
}
.notas:hover {
  background: rgba(0,0,0,0);
}
.btn_mesascajas {
  display: inline-block;
  height: 90px;
  width: 150px;
  margin: 5px;
  display: box;
  -ms-box-pack: center;
  -moz-box-pack: center;
  -webkit-box-pack: center;
  box-pack: center;
  -ms-box-align: center;
  -moz-box-align: center;
  -webkit-box-align: center;
  box-align: center;
  display: -ms-flexbox;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  display: -moz-box;
  -moz-box-pack: center;
  -moz-box-align: center;
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  color: #444;
  font-weight: bold;
  border: none;
  background: #fff;
  background: -moz--o-linear-gradient(top, #fff 0%, #e5e5e5 100%);
  background: -moz--ms-linear-gradient(top, #fff 0%, #e5e5e5 100%);
  background: -moz--moz-linear-gradient(top, #fff 0%, #e5e5e5 100%);
  background: -moz--webkit-linear-gradient(top, #fff 0%, #e5e5e5 100%);
  background: -moz-linear-gradient(to bottom, #fff 0%, #e5e5e5 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #e5e5e5));
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #e5e5e5));
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #e5e5e5));
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #e5e5e5));
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #e5e5e5));
  background: -webkit--o-linear-gradient(top, #fff 0%, #e5e5e5 100%);
  background: -webkit--ms-linear-gradient(top, #fff 0%, #e5e5e5 100%);
  background: -webkit--moz-linear-gradient(top, #fff 0%, #e5e5e5 100%);
  background: -webkit--webkit-linear-gradient(top, #fff 0%, #e5e5e5 100%);
  background: -webkit-linear-gradient(to bottom, #fff 0%, #e5e5e5 100%);
  background: -o--o-linear-gradient(top, #fff 0%, #e5e5e5 100%);
  background: -o--ms-linear-gradient(top, #fff 0%, #e5e5e5 100%);
  background: -o--moz-linear-gradient(top, #fff 0%, #e5e5e5 100%);
  background: -o--webkit-linear-gradient(top, #fff 0%, #e5e5e5 100%);
  background: -o-linear-gradient(to bottom, #fff 0%, #e5e5e5 100%);
  background: -ms--o-linear-gradient(top, #fff 0%, #e5e5e5 100%);
  background: -ms--ms-linear-gradient(top, #fff 0%, #e5e5e5 100%);
  background: -ms--moz-linear-gradient(top, #fff 0%, #e5e5e5 100%);
  background: -ms--webkit-linear-gradient(top, #fff 0%, #e5e5e5 100%);
  background: -ms-linear-gradient(to bottom, #fff 0%, #e5e5e5 100%);
  background: -o-linear-gradient(top, #fff 0%, #e5e5e5 100%);
  background: -ms-linear-gradient(top, #fff 0%, #e5e5e5 100%);
  background: -moz-linear-gradient(top, #fff 0%, #e5e5e5 100%);
  background: -webkit-linear-gradient(top, #fff 0%, #e5e5e5 100%);
  background: linear-gradient(to bottom, #fff 0%, #e5e5e5 100%);
  -webkit-box-shadow: 1px 0px 2px 0px rgba(34,37,55,0.59);
  -moz-box-shadow: 1px 0px 2px 0px rgba(34,37,55,0.59);
  -webkit-box-shadow: 1px 0px 2px 0px rgba(34,37,55,0.59);
  /*add*/
  box-shadow: 0 5px 3px rgba(0,0,0,0.1),0 -3px 0 rgba(0,0,0,0.1) inset;
  background-image: linear-gradient(#ebfbbc 0%, #a0da75 100%);
  border: 1px solid #5a5;
  cursor: pointer;
  padding: 0;
  border-radius: 5px;
  background-size: auto 150%;
  transition: 0.2s;
  /*finn add*/
}
.btn_mesascajas:hover {
  /*color: #9da0a2;*/
  /*box-shadow: 1px 0px 2px 0px rgba(34,37,55,0.59);*/
  /*opacity: 0.7;*/
  background-position: -52px -42px;
}

.list-group-item{
	padding:3px 7px;
  border: 1px solid #fff;
}

.nav_bar {
  height: 20px;
  width: 100%;
  background: #000;
  color: #fff;
  display: -ms-flexbox;
  -ms-flex-align: center;
  display: -moz-box;
  -moz-box-align: center;
  display: -webkit-box;
  -webkit-box-align: center;
  display: box;
  -ms-box-align: center;
  -moz-box-align: center;
  -webkit-box-align: center;
  box-align: center;
}
.nav_bar ul {
  list-style: none;
  display: inline;
  display: -ms-flexbox;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  display: -moz-box;
  -moz-box-pack: center;
  -moz-box-align: center;
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: box;
  -ms-box-pack: center;
  -moz-box-pack: center;
  -webkit-box-pack: center;
  box-pack: center;
  -ms-box-align: center;
  -moz-box-align: center;
  -webkit-box-align: center;
  box-align: center;
}
.nav_bar ul li {
  margin: 2px;
}
.navbar-default .navbar-brand {
  font-weight: normal;
}
.container {
  margin-top: 50px;
  padding: 5px;
  background-color: #fff;
}
.caja_derecha,
.caja_izquierda {
  margin-top: 50px;
}
.caja_derecha {
  width: 60%;
}
.O {
  /*background: #fa8072;*/
  border-color: #c33;
  background-color: #f9ad74;
  background-image: linear-gradient(#fde7ac 0%, #f89d65 100%);
}
.R {
  background: #ffd65e;
  background: -moz--o-linear-gradient(top, #ffd65e 0%, #febf04 100%);
  background: -moz--ms-linear-gradient(top, #ffd65e 0%, #febf04 100%);
  background: -moz--moz-linear-gradient(top, #ffd65e 0%, #febf04 100%);
  background: -moz--webkit-linear-gradient(top, #ffd65e 0%, #febf04 100%);
  background: -moz-linear-gradient(to bottom, #ffd65e 0%, #febf04 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffd65e), color-stop(100%, #febf04));
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffd65e), color-stop(100%, #febf04));
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffd65e), color-stop(100%, #febf04));
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffd65e), color-stop(100%, #febf04));
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffd65e), color-stop(100%, #febf04));
  background: -webkit--o-linear-gradient(top, #ffd65e 0%, #febf04 100%);
  background: -webkit--ms-linear-gradient(top, #ffd65e 0%, #febf04 100%);
  background: -webkit--moz-linear-gradient(top, #ffd65e 0%, #febf04 100%);
  background: -webkit--webkit-linear-gradient(top, #ffd65e 0%, #febf04 100%);
  background: -webkit-linear-gradient(to bottom, #ffd65e 0%, #febf04 100%);
  background: -o--o-linear-gradient(top, #ffd65e 0%, #febf04 100%);
  background: -o--ms-linear-gradient(top, #ffd65e 0%, #febf04 100%);
  background: -o--moz-linear-gradient(top, #ffd65e 0%, #febf04 100%);
  background: -o--webkit-linear-gradient(top, #ffd65e 0%, #febf04 100%);
  background: -o-linear-gradient(to bottom, #ffd65e 0%, #febf04 100%);
  background: -ms--o-linear-gradient(top, #ffd65e 0%, #febf04 100%);
  background: -ms--ms-linear-gradient(top, #ffd65e 0%, #febf04 100%);
  background: -ms--moz-linear-gradient(top, #ffd65e 0%, #febf04 100%);
  background: -ms--webkit-linear-gradient(top, #ffd65e 0%, #febf04 100%);
  background: -ms-linear-gradient(to bottom, #ffd65e 0%, #febf04 100%);
  background: -o-linear-gradient(top, #ffd65e 0%, #febf04 100%);
  background: -ms-linear-gradient(top, #ffd65e 0%, #febf04 100%);
  background: -moz-linear-gradient(top, #ffd65e 0%, #febf04 100%);
  background: -webkit-linear-gradient(top, #ffd65e 0%, #febf04 100%);
  background: linear-gradient(to bottom, #ffd65e 0%, #febf04 100%);
}
.cont_inputcaja {
  margin: 10px;
  width: 70%;
}
.calculadora {
  width: 260px;
  height: auto;
  background: #9dd2ea;
  background: -o-linear-gradient(top, #9dd2ea, #8bceec);
  background: -ms-linear-gradient(top, #9dd2ea, #8bceec);
  background: -moz-linear-gradient(top, #9dd2ea, #8bceec);
  background: -webkit-linear-gradient(top, #9dd2ea, #8bceec);
  background: linear-gradient(to bottom, #9dd2ea, #8bceec);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 4px #009de4, 0px 10px 15px rgba(0,0,0,0.2);
  box-shadow: 0px 4px #009de4, 0px 10px 15px rgba(0,0,0,0.2);
  padding: 20px 20px 9px;
}
.calculadora .btn_calcu {
  float: left;
  position: relative;
  top: 0;
  cursor: pointer;
  width: 65px;
  height: 55px;
  background: #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: none;
  -webkit-box-shadow: 0px 4px rgba(0,0,0,0.2);
  box-shadow: 0px 4px rgba(0,0,0,0.2);
  margin: 0 7px 11px 0;
  color: #888;
  line-height: 50px;
  text-align: center;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-size: 20px;
  font-weight: 800;
}
.calculadora .btn_calcu:hover {
  background: #9c89f6;
  -webkit-box-shadow: 0px 4px #6b54d3;
  box-shadow: 0px 4px #6b54d3;
  color: #fff;
}
.calculadora .btn_calcu:active {
  -webkit-box-shadow: 0px 0px #6b54d3;
  box-shadow: 0px 0px #6b54d3;
  top: 4px;
}
.calculadora .operator {
  background: #fff0f5;
  margin-right: 0;
}
.calculadora .clear {
  background: #ff9fa8;
  -webkit-box-shadow: 0px 4px #ff7c87;
  box-shadow: 0px 4px #ff7c87;
  color: #fff;
}
.calculadora .clear:hover {
  background: #f68991;
  -webkit-box-shadow: 0px 4px #d3545d;
  box-shadow: 0px 4px #d3545d;
  color: #fff;
}
.calculadora .eval {
  background: #f1ff92;
  -webkit-box-shadow: 0px 4px #9da853;
  box-shadow: 0px 4px #9da853;
  color: #888e5f;
}
.calculadora .eval:hover {
  background: #abb850;
  -webkit-box-shadow: 0px 4px #717a33;
  box-shadow: 0px 4px #717a33;
  color: #fff;
}
.calculadora .keys,
.calculadora .top {
  overflow: hidden;
}
.calculadora .keys {
  margin-top: 10px;
}
.calculadora .top .screen {
  height: 50px;
  width: 150px;
  float: right;
  padding: 0 5px;
  background: rgba(0,0,0,0.2);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: none;
  -webkit-box-shadow: inset 0px 4px rgba(0,0,0,0.2);
  box-shadow: inset 0px 4px rgba(0,0,0,0.2);
  font-size: 17px;
  line-height: 40px;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  text-align: right;
  letter-spacing: 1px;
}
.profile {
  background-color: #ff766c;
  border: 1px solid #ff766c;
}
.profile img {
  display: block;
  border: 10px solid rgba(255,255,255,0.3);
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.profile p {
  text-align: center;
  color: #fff;
}
.list_menu {
  background-color: #fff;
  -webkit-border-radius: 0px !important;
  border-radius: 0px !important;
  border: 1px solid #ddd;
}
.list_menu.list-group-itemactive,
.list_menu:hover {
  border-left: 3px solid #ff766c;
  background-color: #f8f7f5;
}
.fielsetborder {
  border: 1px groove #ddd !important;
  padding: 0 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
}
.legendborder {
  font-size: 1.2em !important;
  font-weight: bold !important;
  text-align: left !important;
  width: auto;
  padding: 0 10px;
  border-bottom: none;
  margin-top: 1em;
  background: #fff;
}
