@import 'nib/vendor'
vendor-prefixes = o ms moz webkit official
@import 'nib/gradients'

amarillo = #ffd321;
colorespera = #42bdc2;
gris = #666;
marron = #5a2e21;
naranja = #ec8011;
colorpreparacion = #FF8A3C;
colorrecoger = #FFD800;
colorentregado = #7FC242;
mesaocupada = #FF1800;

body
	background lighten(amarillo,20%)
	color white
	font-size 14px
	padding 0
.btn-controlprimary
	color white
	display inline-block
	margin-left 8px
	background invert(amarillo)
	line-height 40px
	text-decoration none
	width 40px
	&:hover
		background naranja
.D
	background colorentregado
.E
	background colorrecoger
.I
	background colorespera
.P
	background colorpreparacion
header
	background marron
	height 60px
	position relative
	width 100%
	.notificaciones
		display inline-block
		font-size 20px
		font-weight bold
		width 50px
	.titulo
		display inline-block
		font-size 20px
		font-weight bolder
		line-height 60px
		padding 0px 5px
		width auto
		span
			border-left 3px solid white
			display inline-block
			margin-left 5px
			padding 0px 10px 
	.usuario
		display inline-block
		font-size 15px
		line-height 60px
		position absolute
		right 5px

section
	width 100%
	.carta
		display none
		margin-top 10px
		.adicionales
			display none
		.listaproductos
			display none
		.notas
			display none
			ul
				margin 0 auto
				width 98%
				li
					background invert(marron)
					border solid marron 1px
					color marron
					font-size 18px
					font-weight 700
					list-style none
					line-height 40px
					padding 5px	
		.procombinaciones
			display none
			margin-top 5px
		.producto
			background marron
			border 1px solid naranja
			display inline-block
			height 140px
			margin-left 5px
			margin-top 5px
			overflow hidden
			width 140px
			.nfamilia
				padding 5px
				display inline-block
				font-size 16px
				font-weight 900
				line-height 20px
				text-align center
				margin 0 auto
				margin-top 55px
				width 130px
			.nproducto
				padding 5px
				display inline-block
				font-size 16px
				font-weight 900
				line-height 20px
				text-align center
				margin 0 auto
				margin-top 15px
				width 130px
			.stock
				background invert(marron)
				border 2px solid lighten(amarillo, 20%)
				border-radius 50%
				color marron
				display block
				font-weight 900
				height 25px
				line-height 25px
				font-size 15px
				margin-left 105px
				margin-top 5px
				text-align center
				width 25px
		.productoselected
			background invert(naranja)
		.productotitulo
			background invert(marron)
			border 2px solid marron
			color white
			display none
			font-size 18px
			font-weight 900
			height 60px
			line-height 60px
			margin 0 auto
			text-align center
			width 80%
		.combinaciontitle
			background invert(amarillo)
			border 2px solid marron
			color white
			font-size 16px
			font-weight 900
			height 40px
			line-height 40px
			margin 0 auto
			text-align center
			width 80%
		.sabores
			display none
			margin-top 5px
			ul
				margin 0 auto
				width 98%
				li
					background invert(marron)
					border solid marron 1px
					color marron
					font-size 18px
					font-weight 700
					list-style none
					line-height 40px
					padding 5px	

	.comanda
		display none
		padding 0
		width 100%
		nav
			background naranja
			border-bottom 3px solid invert(naranja)
			height auto
			line-height 50px
			padding 0
			#agregar_cesta
				color white
				display inline-block
				float right
				font-size 18px
				font-weight 900
				height 50px
				margin 0 0.5em
				margin-top -50px
				padding 0 0.5em
				position relative
				text-decoration none
			ul
				li
					display inline-block
					a
						color white
						display inline-block
						font-size 18px
						font-weight 900
						height 50px
						margin 0 0.5em
						padding 0 0.5em
						position relative
						text-decoration none

						&:hover
							color amarillo
	.precuenta
		margin 0 auto
		width 98% 
		a
			background invert(amarillo)
			border 1px white solid
			border-radius 5px
			color white
			display inline-block
			font-weight bolder
			line-height 30px
			margin-top 5px
			padding 5px
			text-decoration none
		table
			border 2px marron solid
			margin-top 5px
			width 100%
			th
				background invert(marron)
				border 2px marron solid
				line-height 40px
				font-weight bolder
			td
				background invert(naranja)
				border 2px marron solid
				font-weight bolder
				line-height 40px
				padding 5px
								
	.mesas
		padding 0
		margin 0 auto
		width 90%
		.mesa
			background colorrecoger
			border naranja 2px solid
			display inline-block
			height 100px
			margin-left 12px
			margin-top 5px
			overflow hidden
			padding 5px 0px
			text-align center
			width 22%
			.nombre_mesa
				color marron
				font-size 15px
				font-weight 900
		.ocupada
			background mesaocupada
		.pagada
			background colorespera
		.usuario
			background colorentregado
	.pedido
		border 2px solid marron
		box-shadow 3px 5px 0 rgba(0,0,0,0.2)
		margin 0 auto
		margin-top 5px
		padding 0 0
		width 98%
		.pedidoencabezado
			background invert(marron)
			border-bottom 3px solid white
			height auto
			font-weight 900
			width 100%
			ul
				li
					display inline-block
					font-size 18px
					line-height 50px
					padding 0 5px;
					width 45%
		.cestaitems
			div
				display inline-block
				line-height 40px
				font-size 18px
				font-weight 700
				vertical-align middle	 
			.itemadicional
				text-align center
				width 8%
			.itemcantidad
				font-weight 700
				text-align center
				width 5%
			.itemcontrol
				text-align center
				width 20%
			.itemproducto
				font-weight 700
				width 55%
				.combinaciones
					display inline-block
					vertical-align middle
					width 76%
					.adicionalcombinacion
						display inline-bloc
						text-align right
						width 10%
				.itemadicionales
					font-size 15px
					line-height 20px
					width 100%
					ul
						li
							border none
							.adicionalnombre
								padding 0 5px
								display inline-block
								width 76%
							.adicionalprecio
								display inline-block
								text-align right
								width 19%
				div
					display block
				.itemnombre
					display inline-block
					width 76%
				.itemprecio
					display inline-block
					font-size 15px
					margin-left 10px
					text-align right
					vertical-align middle
					width 19%
				.itemsabores
					padding 0 5px
					font-size 16px
					line-height 20px
			.itemremover
				text-align center
				width 8%
			.pcestacantidad
				text-align center
				width 5%
			.pcestanombre
				width 85%
				i
					color gris
					&:after
						font-size 38px
					&:before
						font-size 38px
			.pcestaprecio
				text-align right
				width 8%
			li
				border 1px solid marron
				list-style none
				padding 5px 0
	.platosusuario
		width 95%
		margin 0 auto
		margin-top 5px
		ul
			li
				border 1px solid marron
				list-style none
				padding 5px 5px
				line-height 40px
				font-size 18px
				font-weight 700
				vertical-align middle
				i
					color gris
					&:after
						font-size 38px
					&:before
						font-size 38px

	.salones
		padding 5px
		margin 0 auto
		width 90%
		.salon
			background naranja
			font-size 20px
			height 60px
			line-height 60px
			margin 0 auto
			text-align center
			width 95%
ul
	margin 0
	padding 0